<ion-content id="konten" class="ion-padding" color="primary">

  <ion-avatar class="gambar">
    <img src="../../assets/logo2.png">
  </ion-avatar>
  <ion-label position="stacked">Username</ion-label>
  <ion-input type="text" [(ngModel)]="username"></ion-input>
  <ion-label position="stacked">Password</ion-label>
  <ion-input type="password" [(ngModel)]="password"></ion-input>

  <ion-button color="success" mode="ios" (click)="login()" expand="full">
    Login
  </ion-button>

  <ion-button color="warning" mode="ios" id="modal-daftar" expand="full">
    Daftar
  </ion-button>

  <ion-button id="modal-reset" fill="clear">
    reset password
  </ion-button>

</ion-content>
  <!-- modal daftar -->
  <ion-modal #modal trigger="modal-daftar">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Daftar Juragan</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal.dismiss()">Tutup</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        
            <ion-label position="stacked">Nama Depan</ion-label>
            <ion-input type="text" [(ngModel)]="first_name"></ion-input>
          
            <ion-label position="stacked">Nama Belakang</ion-label>
            <ion-input type="text" [(ngModel)]="last_name"></ion-input>
          
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email"></ion-input>
          
            <ion-label position="stacked">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
         
            <ion-label position="stacked">HP</ion-label>
            <ion-input type="text" [(ngModel)]="hp"></ion-input>
          
              <ion-row>
                <ion-col size="7">
                  <ion-input type="text" [(ngModel)]="otp"></ion-input>
                </ion-col>
                <ion-col size="5">
                  <ion-button class="otp" expand="round" (click)="kirimOTP()">
                    Kirim OTP
                  </ion-button>
                </ion-col>
              </ion-row>
            
          
            <ion-button (click)="daftar()" expand="full" mode="ios">
              Mendaftar
            </ion-button>
        
        
      </ion-content>
    </ng-template>
  </ion-modal>  


  <ion-modal #modal2 trigger="modal-reset">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Reset Password</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="modal2.dismiss()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="kontainer">
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
          <ion-button (click)="resetPassword()" expand="full" mode="ios">
              Reset Password
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

