<ion-content>
  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    
    <ion-slide>
      <img src="../../assets/splash.png" alt="aplikasi pencari kontrakan">
      
    </ion-slide>
    
    <ion-slide>
      <img src="../../assets/splash.png" alt="aplikasi pencari kontrakan">
     
    </ion-slide>

    <ion-slide>
      <img src="../../assets/splash.png" alt="aplikasi pencari kontrakan">
    </ion-slide>

    <ion-slide>
      <ion-row>
        <ion-col size="12">
          <img style="width: 100%;z-index: -99;" src="../../assets/vektor 4.png" alt="aplikasi pencari kontrakan">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <h1>Mau Cari Kontrakan</h1>
        <p>Disini saja lebih komplit dan cocok buat kamu</p>
        <ion-button mode="ios" expand="block" shape="round">
          Lanjut
        </ion-button>
        </ion-col>
      </ion-row>
        
    </ion-slide>
  </ion-slides>
</ion-content>
